/*css for the whole body*/
*{
    margin:0;
    padding: 1px;
    box-sizing: border-box;
    font-family:Poppins,sans-serif;
}
body{
    background-color: #f2f2f2;
   
}

/*==my hover==*/

#sidebar{
    margin:2px;
    width: 280px;
    height: 98%;
    border-radius: 10px;
    background: #fff;
    color:#000000;
    z-index: 1000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: fixed;
    transition: 0.5s ease;
    padding-left:5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

/*menu styles*/
#menu-label{
    color: rgba(37, 48, 70, 0.824);
    font-weight: 600;
    text-align: left;
    padding: 10px 0;
    padding-left: 8px;
    pointer-events: none;
}
#menuicon{
    display: none;
    visibility: hidden;

}
.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    top:10px;
    right: 15px;
    z-index: 1;
    cursor: pointer;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.toggle .common{
    position:absolute;
    height:2px;
    width:20px;
    background-color: rgba(37, 48, 70, 0.824);
    border-radius: 50px;
    transition: 0.3 ease;
}
.toggle .top-line{
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
}
.toggle .middle-line{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.toggle .bottom-line{
    top:70%;
    left:50%;
    transform: translate(-50%,-50%);
}
/*form styles*/
#form{
    padding:2px;
}
#searchbar{
    width: 95%;
    height: 40px;
    padding-left: 0.5em;
    padding-bottom: 3px;
    font-size: 18px;
    border: 1px;
    border-radius: 5px;
    box-shadow:0 0 10px rgba(9, 9, 9, 0.1);
    justify-content: space-between;
    pointer-events:pointer;
}

/*link styles*/
#sidebar ul{
    list-style: none;
}
#sidebar ul li a {
    color: #011a419e;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-emphasis: none;
    text-decoration: none;
    transition: 0.2s ease-out;
}
#sidebar ul li:hover a{
    color:#fff;
    background-color:  rgba(73, 80, 95, 0.486);
}
#sidebar ul li a i{
    width: 40px;
    text-align: center;
}
/*tasks-label styles{*/
#taskslabel{
    font-size: smaller;
    color: rgba(23, 25, 27, 0.689);
    text-align:left;
    padding: 10px 0;
    padding-left: 28px;
    pointer-events: none;
}
/*menu-buttom styles*/
.menu-buttom{
    position:absolute;
    bottom: 0;
    left:0;
    width: 100%;
    text-align: left;
    padding-left: 38px;
    font-size:smaller;
}
/*==my hover==*/